/* Always generate */
@theme static {
  --font-bitcount-gs: "Bitcount Grid Single", sans-serif;
  --font-ubuntu: "Ubuntu", sans-serif;
  --font-outfit: "Outfit", sans-serif;

  --default-font-family: var(--font-outfit);
  --color-primary: var(--color-red-500);
  --color-secondary: var(--color-blue-500);
}

/* Generate when being used */
/* @theme {
  --color-lagoon: oklch(0.72 0.11 221.19);
  --color-coral: oklch(0.74 0.17 40.24);
  --color-driftwood: oklch(0.79 0.06 74.59);
  --color-tide: oklch(0.49 0.08 205.88);
  --color-dusk: oklch(0.82 0.15 72.09);
} */
